body {
  background-color: cornflowerblue;
  text-align: center;
  display: grid;
}

section {
  background-color: white;
  border-radius: 10%;
  width: fit-content;
  text-align: justify;
  margin: auto;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.404);
}

footer {
  padding: 20px;
}
