body {
  background-color: cornflowerblue;
  text-align: center;
}

section {
  background-color: white;
  width: fit-content;
  margin: auto;
  border-radius: 10%;
  text-align: justify;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.479);
}
div {
  padding: 20px 100px 10px 10px;
}
